:root {  
  --background: hsla(156, 1.25%, 11%, 1);
  --post_background: hsla(153, 5%, 15.5%, 1);
  --topic_background: hsla(153, 2.5%, 30%, 1);
  --nav_background:hsl(156,98%,35%);
  --link: hsla(150, 80%, 85%, 1);
  --text: hsla(186, 4%, 98%, 1);
}
.language-csharp hljs{
   filter:invert(10);
}
body {
    background-color:  var(--background);
    background-image: url("test_bkg.svg");
    background-attachment: fixed; 
    color: var(--text);
}
a{
  color:var(--link);
}
.article{
  box-sizing: border-box;
  padding: 1%;
  border-radius: 10px;
  margin: auto;
  background-color:var(--post_background);
  max-width: 1000px;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
}
.topic_field{
   background-color: var(--topic_background);
   padding:0.5%;
   border-radius:5px;
}
.topnav{
  position: fixed; 
  top: 0; left: 0; z-index: 9999; width: 99.5%; height: 50px; 
  margin: 1px;
  margin-top: 0px;
  background-color:var(--nav_background);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
}
.nav_container{
   padding: 1.625rem;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  filter:invert(10);
  background-color: #222;
  color: white;
}
.github_link{
  
}
.reddit_link{
  filter:grayscale(100%);
  align-content: right;
}
.linked_id_link{
  filter:grayscale(100%) brightness(250%);
  border-radius: 0px;
}
.rss_link{
  filter:grayscale(100%);
  border-radius: 0px;
}
img{
  size: auto;
  border-radius: 5px;
  width:100%;
  max-width:1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}